{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
	<title>Waleed Mahmoud Ahmed | Data Engineer, Web Designer | waleedpte@gmail.com</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

	<meta name="keywords" content=""/>
	<meta name="description" content=""/> 
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" media="all" /> 
	<link rel="stylesheet" type="text/css" href= "{% static 'css/resume.css'%}" />

</head>
<body>
<div id="doc2" class="yui-t7">
	<div id="inner">
		<div id="hd">
			<div class="yui-gc">
				<div class="yui-u first">
					<h1> Waleed Mahmoud </h1>
					<h2> Petroleum Engineer, Driller Assistant </h2>
				</div>
				<div class="yui-u">
					<div class="contact-info">
						<h3><a id="pdf" href="#">Download PDF</a></h3>
						<h3><a href="mailto:name@yourdomain.com">waleedpte@gmail.com</a></h3>
						<h3>0100-534-4600</h3>
					</div><!--// .contact-info -->
				</div>
			</div><!--// .yui-gc -->
		</div><!--// hd -->
		<div id="bd">
			<div id="yui-main">
				<div class="yui-b">
					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Profile</h2>
						</div>
						<div class="yui-u">
							<p class="enlarge">
								Experience 7 years in oil filed, beginning as roustabout at SinoTharwa Drilling company,then worked in shingle bohi company as floorman ,and Trust service petroleum Company .
							</p>
						</div>
					</div><!--// .yui-gf -->
					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Skills</h2>
						</div>
						<div class="yui-u">
								<div class="talent">
									<h2>Computer</h2>
									<p>excellent web designer and data engineer , Good Using programming Language python ,sql and c and Machine learning developer </p>
								</div>
								<div class="talent">
									<h2>Language</h2>
									<p>Arabic mother tongue , Very Good at English speak , reading and written and have ceritificate from cambridge institute</p>
								</div>
								<div class="talent">
									<h2>Learning</h2>
									<p>ability to Keep learning and applicate my knows to improve my jop ,now i study Artificial Inteligence </p>
								</div>
						</div>
					</div><!--// .yui-gf -->
					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Certificates </h2>
						</div>
						<div class="yui-u">
							<ul class="talent">
								<li>IWCF certificate</li>
								<li>Fire Fighting  </li>
								<li class="last">H2S Hazard</li>
							</ul>

							<ul class="talent">
								<li>English language</li>
								<li>Effective business skills</li>
								<li class="last">First Aid</li>
							</ul>
						</div>
					</div><!--// .yui-gf-->

					<div class="yui-gf">
	
						<div class="yui-u first">
							<h2>Education</h2>
						</div><!--// .yui-u -->

						<div class="yui-u">

							<div class="job">
								<h2>Diploma</h2>
								<h3>Human Resource Management </h3>
								<h4>2012-2013</h4>
								<p>Holding Diploma degree at Human Resources Management , From Arab Academy For Science And Maritime Transport  Aswan branch at nov 2013 with grade excellent GBA 3.8  </p>
							</div>

							<div class="job">
								<h2>Bachelor's Degree</h2>
								<h3>Petroleum Engineering</h3>
								<h4>2004-2010</h4>
								<p>Get Bachelor Degree Of Engineering Petroleum Department from The Higher Institue Of Engineering And Technology at Cairo city , graduate in may 2010 with grade acceptable , gradution project about North Nada field ,project grade Good . </p>
							</div>

							<div class="fuck">
								<h2>High School Bachelor</h2>
								<h3>Secondry Militry School</h3>
								<h4>2001-2004</h4>
								<p>graduate from high school may 2004 ,Aswan city. </p>
							</div>
						</div><!--// .yui-u -->
					</div><!--// .yui-gf -->
					<div class="yui-gf last">
						<div class="yui-u first">
							<h2>Training Experince </h2>
						</div>
						
						<div class="yui-u">
							<div class="job">
								<h2>Khalda Petroleum Company </h2>
								<h3>Oil & Gas deep well rig 5 Sino tharwa </h3>
							</div>
						</div>
						<br></br>
						<div class="yui-u">
							<div class="job">
								<h2>Gulf of Suez petroleum company </h2>
								<h3>Saqqara project & Comet rig </h3>
							</div>
						</div>
						<br></br>
						<div class="yui-u">
							<h2>Agiba petroleum company </h2>
							<h3>Weatherford rigs(92/147)&dasco6</h3>
						</div>
						
					</div><!--// .yui-gf -->


				</div><!--// .yui-b -->
			</div><!--// yui-main -->
		</div><!--// bd -->

		<div id="ft">
			<p>Waleed Mahmoud &mdash; <a href="waleedpte@gmail.com">waleedpte@gmail.com</a> &mdash;0100-534-4600</p>
			<p>Linkedin &mdash; <a href="https://www.linkedin.com/in/waleed-mahmoud-ahmed-a6004487/">https://www.linkedin.com/in/waleed-mahmoud-ahmed-a6004487/</a></p>
		</div><!--// footer -->
		

	</div><!-- // inner -->


</div><!--// doc -->


</body>
</html>

